

<section class="saved-properties">
  <h1 class="heading">Saved Properties</h1>

  <div *ngIf="savedProperties.length > 0; else noSavedProperties">
    <div class="property-list">
      <div *ngFor="let property of savedProperties" class="property-card">
        <img [src]="property.data.imageUrls?.filePaths?.[0] || 'assets/images/default.jpg'" alt="Property Image">
        <h3>{{ property.data.property_name }}</h3>
        <p><i class="fas fa-map-marker-alt"></i> {{ property.data.address }}</p>
        <p><i class="fas fa-indian-rupee-sign"></i> ₹{{ property.data.price }}</p>
        
        <!-- <button class="remove-btn" (click)="toggleSave(property._id)">
          <i class="fas fa-trash-alt"></i> Remove
        </button> -->
      </div>
    </div>
  </div>

  <ng-template #noSavedProperties>
    <p class="empty">No saved properties found!</p>
  </ng-template>
</section>


