<footer class="footer">
    <section class="flex">
       <div class="box">
          <a href="tel:1234567890"><i class="fas fa-phone"></i><span>123456789</span></a>
          <a href="tel:1112223333"><i class="fas fa-phone"></i><span>1112223333</span></a>
          <a href="mailto:thirsha.m20@gmail.com"><i class="fas fa-envelope"></i><span>thirsha.m20gmail.com</span></a>
          <a href="#"><i class="fas fa-map-marker-alt"></i><span>TamilNadu, India - 400104</span></a>
       </div>
 
       <div class="box">
          <a routerLink="/home"><span>Home</span></a>
          <a routerLink="/about"><span>About</span></a>
          <a routerLink="/contact"><span>Contact</span></a>
          <a routerLink="/listings"><span>All Listings</span></a>
          <a routerLink="/saved-properties"><span>Saved Properties</span></a>
       </div>
 
       <div class="box">
          <a href="#"><span>Facebook</span><i class="fab fa-facebook-f"></i></a>
          <a href="#"><span>Twitter</span><i class="fab fa-twitter"></i></a>
          <a href="#"><span>LinkedIn</span><i class="fab fa-linkedin"></i></a>
          <a href="#"><span>Instagram</span><i class="fab fa-instagram"></i></a>
       </div>
    </section>
 
    <div class="credit">
       &copy; {{ currentYear }} by <span>mr. web designer</span> | All rights reserved!
    </div>
 </footer>
 