<body>
  <section class="listings">
    <h1 class="heading">All Listings</h1>

    <div class="box-container">
      <div *ngFor="let property of properties" class="box">
        <input type="hidden" [value]="property._id" />

        <!-- User Info -->
        <div class="user-info">
          <div class="user-icon">
            {{ loggedInUser?.name?.charAt(0).toUpperCase() || 'U' }}
          </div>
          <div>
            <p class="user-name">{{ loggedInUser?.data.name || 'Unknown User' }}</p>
            <p class="posted-date">
              <i class="far fa-calendar-alt"></i>
              {{ property.data.posted_date | date: 'yyyy-MM-dd' }}
            </p>
          </div>
        </div>

        <!-- Property Thumbnail -->
        <div class="thumb">
          <p class="total-images">
            <i class="far fa-image"></i>
            <span>{{ property.data.imageUrls?.filePaths?.length || 0 }}</span>
          </p>
          <p class="type">
            <span>{{ property.data.property_type }}</span>
            <span>{{ property.data.status }}</span>
          </p>
          <form (submit)="saveProperty(property.id)" class="save">
            <button type="submit" name="save" class="far fa-heart"></button>
          </form>
          

          <img *ngIf="property.data.imageUrls?.filePaths?.length > 0; else noImage"
            [src]="property.data.imageUrls.filePaths[0]" alt="Property Image" />
        </div>

        <ng-template #noImage>
          <img src="assets/images/default.jpg" alt="Default Image" />
        </ng-template>

        <!-- Property Details -->
        <h3 class="name">{{ property.data.property_name }}</h3>
        <p class="location">
          <i class="fas fa-map-marker-alt"></i>
          {{ property.data.address }}
        </p>

        <!-- Property Features (BHK, Bath, Sqft) -->
        <div class="property-details">
          <p class="bhk">
            <i class="fas fa-bed"></i> {{ property.data.bhk }}
          </p>
          <p class="bath">
            <i class="fas fa-bath"></i> {{ property.data.bathrooms }}
          </p>
          <p class="carpet_area">
            <i class="fas fa-maximize"></i> {{ property.data.carpet_area }} sqft
          </p>
        </div>

        <div class="price">₹ {{ property.data.price }}</div>

        <a class="btn" [routerLink]="['/view-property', property._id]">View Property</a>

        <!-- Share Button -->
        <div class="shareoptions">
          <button class="btn" (click)="openModal(property)">Share</button>
        </div>
      </div>
    </div>

    <!-- Modal for Sharing Property -->
    <app-modal *ngIf="isModalOpen" [property]="selectedProperty" [isVisible]="isModalOpen" 
      (closeModal)="closeModal()">
    </app-modal>
  </section>
  <button (click)="goBack()" class="back-btn">
    <span class="arrow">←</span> 
  </button>
</body>
