<section class="contact">
    <div class="row">
      <div class="image">
        <img src="assets/images/contact-img.svg" alt="Contact">
      </div>
  
      <form (ngSubmit)="sendMessage()">
        <h3>Get in Touch</h3>
  
        <input type="text" [(ngModel)]="name" name="name" required maxlength="50" placeholder="Enter your name" class="box">
        
        <input type="email" [(ngModel)]="email" name="email" required maxlength="50" placeholder="Enter your email" class="box">
        
        <input type="number" [(ngModel)]="number" name="number" required maxlength="10" max="9999999999" min="0" placeholder="Enter your number" class="box">
        
        <textarea [(ngModel)]="message" name="message" placeholder="Enter your message" required maxlength="1000" cols="30" rows="10" class="box"></textarea>
        
        <button type="submit" class="btn">Send Message</button>
      </form>
    </div>
  </section>
  