<section class="my-listings">
  <h1 class="heading">My Listings</h1>

  <div class="box-container">
    <div *ngIf="properties.length > 0; else noProperties">
      <div *ngFor="let property of properties" class="box">
        <input type="hidden" name="property_id" [value]="property._id" />

        <div class="thumb">
          <img *ngIf="property.imageUrls?.filePaths?.length > 0; else noImage" 
               [src]="property.imageUrls.filePaths[0]" 
               alt="Property Image" />
        </div>

        <ng-template #noImage>
          <img src="assets/images/default.jpg" alt="Default Image">
        </ng-template>

        <div class="price">
          ₹ {{ property.data.price }}
        </div>

        <h3>{{ property.data.property_name }}</h3>
        <p>{{ property.data.address }}</p>

        <div class="flex-btn">
          <button class="btn" [routerLink]="['/update-property', property._id]">Update</button>
          <button class="btn" (click)="deleteProperty(property._id)">Delete</button>
        </div>

        <div class="social-share">
          <a [href]="'https://www.facebook.com/sharer/sharer.php?u=' + shareUrl" target="_blank">Facebook</a>
          <a [href]="'https://twitter.com/intent/tweet?text=' + shareText + '&url=' + shareUrl" target="_blank">Twitter</a>
          <a [href]="'https://api.whatsapp.com/send?text=' + shareText + ' ' + shareUrl" target="_blank">WhatsApp</a>
        </div>
    
        
        
        
      
        

        <a class="btn" [routerLink]="['/view-property', property._id]">View Property</a>
        <button class="btn share-btn" (click)="shareProperty(property)">Share Property</button>
      
      </div>
    </div>

    <ng-template #noProperties>
      <p>No properties added yet!</p>
      <a [routerLink]="'/post-property'" class="btn">Add New Property</a>
    </ng-template>
  </div>
</section>
